<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.place.market.pro.sau.marketplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE "
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:name=".MarketPlace"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BottomNav"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bottom_nav" />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".SellForm"
            android:screenOrientation="portrait"/>
        <activity android:name=".SellDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".PreviewProducts"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChangePassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".History"
            android:screenOrientation="portrait"/>
    </application>

</manifest>